body {
  background-image: url("main-background-xs.jpg");
  margin: 0;
  font-family: monospace;
  color: white;
  /* display: grid;
	grid-template-columns: 2fr 8fr; */
}
div.header {
  text-align: center;
}
h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 3px 2px maroon;
}

h3 {
  text-align: center;
  font-size: 30px;
}


p {
  font-size: 25px;
}

.add-new-recipe-form {
  width: 80%;
}

div#create-recipe {
width: 50%;
display: none;
}
.input-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button#delete {
    margin: .7em;
}
/* #create-recipe {
  width:50%;
  height: auto;

} */
div.leftShow {
  float: left;
  width:85%;
  height: auto;
  color: white;

}
div.rightShow {
  float:right;
  width:50%;
  height: auto;
  color: white;
}


.recipe {
  border-radius: 5px;
  height: 3rem;
  width: 60%;
  font-size: 25px;
  font-family: monospace;
  margin: 3px;
  color: white;
  text-shadow: 3px 2px black;

}
.ingredient {
  font-size: 25px;
}

button.like {
  text-align: center;
  color: black;
  display: inline-block;
  font-size: 24px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid #008CBA;
}


button.like:hover {
  background-color: #008CBA;
  color: white;
}
